@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
#main{
  width: 100%;
}
p{
  font-size: 80%;
  
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: blue;
  color: yellow;
}
header{
  background-color: darkblue;
  width: 100%;
}
#head{
  position: fixed;
  width: 100%;
  top: 0;
}
#bottom{
  padding-top: 80px;
}

.hidden{
  display:none;
}
::selection {
  color: yellow;
  background: #1da1f2;
}
.wrapper {
  background: yellow;
  color: blue;
  max-width: 475px;
  width: 100%;
  border-radius: 15px;
  padding: 25px 25px 15px 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.input-box {
  padding-top: 10px;
  border-bottom: 1px solid blue;
}
.tweet-box {
  padding-top: 10px;
  border-bottom: 1px solid blue;
  text-align: left;
}
.tweet-area {
  text-align: left;
}
.wrapper .bottom {
  text-align: left;
}
.input-box .tweet-area {
  position: relative;
  min-height: 130px;
  max-height: 170px;
  overflow-y: auto;
  text-align: left;
}
.tweet-area::-webkit-scrollbar {
  width: 0px;
}
.tweet-area .placeholder {
  position: absolute;
  margin-top: -3px;
  font-size: 22px;
  color: #98a5b1;
  pointer-events: none;
}
.tweet-area .input {
  outline: none;
  font-size: 17px;
  min-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
}
.tweet-box .tweet-area {
  word-wrap: break-word;
  word-break: break-all;
}
#userPic {
  width: 10px;
}
.user {
  border-bottom: 1px solid blue;
  padding: 8px;
}

.tweet-area .editable {
  position: relative;
  z-index: 5;
}
.tweet-area .readonly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  background: transparent;
}
.readonly .highlight {
  background: #fd9bb0;
}
.icons li:hover {
  background: #e7f5fe;
}

.bottom {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: space-between;
}
.tweet-box .bottom {
  text-align: left;
}
.bottom .icons {
  display: inline-flex;
}
.user li{
  list-style: none;
  color: #1da1f2;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
#tweetLikes li{
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icons li {
  list-style: none;
  color: #1da1f2;
  font-size: 20px;
  margin: 0 2px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease;
}
.bottom .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom .counter {
  color: #333;
  display: none;
  font-weight: 500;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #aab8c2;
}
#tweetBottom button {
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #1da1f2;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
  transition: background 0.2s ease;
}
#tweetBottom button.active {
  opacity: 1;
  pointer-events: auto;
}
#tweetBottom button:hover {
  background: blue;
  color: yellow;
}

#like {
  padding: 2px;
  width: 30px;
  border-radius: 80px;
}
#heart {
  color: red;
}

#profilePic{
  border-radius: 100px;
  width: 50px;
}

.otherButton {
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #1da1f2;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: auto;
  transition: background 0.2s ease;
}

.otherButton:hover {
  background: yellow;
  color: blue;
  opacity: 1;
}

.followButton{
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: yellow;
  color: blue;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  transition: background 0.2s ease;
}

.followButton:hover{
  background: #1da1f2;
  color: #fff;
  opacity: 0.5;
  
}

.nofollowButton{
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #1da1f2;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  pointer-events: auto;
  transition: background 0.2s ease;
}

.nofollowButton:hover{
  background: yellow;
  color: blue;
  opacity: 1;
}